*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/deploymentTargetDropDown.xml
.apk
release/
debug/
second/
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]3/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_3.xml
