<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- xDrip+ integration -->
    <uses-permission android:name="com.eveningoutpost.dexdrip.permissions.RECEIVE_BG_ESTIMATE" />
    <!-- BYODA integration -->
    <uses-permission android:name="com.dexcom.cgm.EXTERNAL_PERMISSION" />

    <queries>
        <package android:name="com.eveningoutpost.dexdrip" />
        <package android:name="info.nightscout.androidaps" />
        <package android:name="com.dexcom.g6.region1.mmol" />
        <package android:name="com.dexcom.g6.region2.mmol" />
        <package android:name="com.dexcom.g6.region3.mmol" />
        <package android:name="com.dexcom.g6.region4.mmol" />
        <package android:name="com.dexcom.g6.region5.mmol" />
        <package android:name="com.dexcom.g6.region6.mmol" />
        <package android:name="com.dexcom.g6.region7.mmol" />
        <package android:name="com.dexcom.g6.region1.mgdl" />
        <package android:name="com.dexcom.g6.region2.mgdl" />
        <package android:name="com.dexcom.g6.region3.mgdl" />
        <package android:name="com.dexcom.g6.region4.mgdl" />
        <package android:name="com.dexcom.g6.region5.mgdl" />
        <package android:name="com.dexcom.g6.region6.mgdl" />
        <package android:name="com.dexcom.g6.region7.mgdl" />
        <package android:name="com.dexcom.follow.region1.mmol" />
        <package android:name="com.dexcom.follow.region2.mmol" />
        <package android:name="com.dexcom.follow.region3.mmol" />
        <package android:name="com.dexcom.follow.region4.mmol" />
        <package android:name="com.dexcom.follow.region5.mmol" />
        <package android:name="com.dexcom.follow.region6.mmol" />
        <package android:name="com.dexcom.follow.region7.mmol" />
        <package android:name="com.dexcom.follow.region1.mgdl" />
        <package android:name="com.dexcom.follow.region2.mgdl" />
        <package android:name="com.dexcom.follow.region3.mgdl" />
        <package android:name="com.dexcom.follow.region4.mgdl" />
        <package android:name="com.dexcom.follow.region5.mgdl" />
        <package android:name="com.dexcom.follow.region6.mgdl" />
        <package android:name="com.dexcom.follow.region7.mgdl" />
        <package android:name="tk.glucodata" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GlucoDataHandler"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <receiver
            android:name=".widget.GlucoseWidget"
            android:label="@string/widget_glucose"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glucose_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.GlucoseTrendWidget"
            android:label="@string/widget_glucose_trend"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glucose_trend_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.GlucoseTrendDeltaWidget"
            android:label="@string/widget_glucose_trend_delta"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glucose_trend_delta_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.GlucoseTrendDeltaTimeWidget"
            android:label="@string/widget_glucose_trend_delta_timestamp"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glucose_trend_delta_time_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.GlucoseTrendDeltaTimeIobCobWidget"
            android:label="@string/widget_glucose_trend_delta_timestamp_iob_cob"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glucose_trend_delta_time_iob_cob_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.ChartWidget"
            android:label="@string/graph"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/chart_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.OtherUnitWidget"
            android:label="@string/other_unit"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/other_unit_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.BatteryLevelWidget"
            android:exported="false"
            android:label="@string/widget_wearos_battery_level">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/battery_level_widget_info" />
        </receiver>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="de.michelinside.glucodatahandler"
                android:value="" />
        </activity>
        <activity
            android:name=".notification.LockscreenActivity"
            android:launchMode="singleTop"
            android:showOnLockScreen="true"
            android:forceDarkAllowed="true"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/menu_settings"
            android:parentActivityName=".MainActivity"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".GlucodataEvent"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/tasker_event_glucodata">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GlucodataAlarmEvent"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/tasker_event_glucodata_alarm">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GlucodataObsoleteEvent"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/tasker_event_glucodata_obsolete">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.WriteSettingConfigureActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/menu_settings">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.WearConnectionState"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/tasker_wear_connection_state">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_CONDITION" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.AndroidAutoConnectionState"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/tasker_android_auto_connection_state">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_CONDITION" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".common.receiver.GlucoseDataReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="glucodata.Minute" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".common.receiver.XDripBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.eveningoutpost.dexdrip.BgEstimate" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".common.receiver.AAPSReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="info.nightscout.androidaps.status" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".common.receiver.DexcomBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.dexcom.cgm.EXTERNAL_BROADCAST" />
                <action android:name="com.dexcom.g7.EXTERNAL_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".common.receiver.NsEmulatorReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.eveningoutpost.dexdrip.NS_EMULATOR" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".common.receiver.DiaboxReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.outshineiot.diabox.BgEstimate" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".common.receiver.BroadcastServiceAPI"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.eveningoutpost.dexdrip.watch.wearintegration.BROADCAST_SERVICE_SENDER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".StartServiceAtBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.MY_PACKAGE_UNSUSPENDED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".common.tasks.AlarmPermissionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name= "android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED"  />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".notification.SnoozeAlarmReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name= "de.michelinside.glucodatahandler.SNOOZE" />
                <action android:name= "de.michelinside.glucodatahandler.STOP_NOTIFICATION" />
            </intent-filter>
        </receiver>
        <receiver android:name=".common.tasks.TimeAlarmReceiver" />
        <receiver android:name=".common.tasks.SourceAlarmReceiver" />
        <receiver android:name=".common.notification.AlarmIntentReceiver" />
        <receiver android:name=".common.receiver.InternalActionReceiver" />
        <receiver android:name=".common.notification.AlarmSnoozeEndReceiver" />
        <receiver android:name=".StartServiceReceiver" />
        <receiver
            android:name=".common.utils.LocaleChangeNotifier"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name= "android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".android_auto.CarModeReceiver$GDAReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name= "de.michelinside.glucodataauto.state" />
            </intent-filter>
        </receiver>

        <service
            android:name=".AODAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>


        <service android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />
        <service
            android:name=".GlucoDataServiceMobile"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <action android:name="com.google.android.gms.wearable.CAPABILITY_CHANGED" />
                <data
                    android:host="*"
                    android:scheme="glucodata_intent_wear" />
            </intent-filter>
        </service>

        <service
            android:name=".common.receiver.NotificationReceiver"
            android:label="Notification Listener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
            <meta-data
                android:name="android.service.notification.default_filter_types"
                android:value="alerting|ongoing|silent" />
        </service>
    </application>

</manifest>
