<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- xDrip+ integration -->
    <uses-permission android:name="com.eveningoutpost.dexdrip.permissions.RECEIVE_BG_ESTIMATE" />
    <!-- BYODA integration -->
    <uses-permission android:name="com.dexcom.cgm.EXTERNAL_PERMISSION" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.App.Starting">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".WearActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GraphActivity"
            android:label="@string/graph"
            android:launchMode="singleTop"
            android:parentActivityName=".WearActivity"
            android:theme="@style/Theme.NoSwipe"
            android:taskAffinity="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WearActivity" />
        </activity>
        <activity
            android:name=".settings.SourcesActivity"
            android:label="@string/menu_sources"
            android:launchMode="singleTop"
            android:parentActivityName=".WearActivity"
            android:theme="@style/Theme.GlucoDataHandler"
            android:taskAffinity="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WearActivity" />
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".WearActivity"
            android:theme="@style/Theme.GlucoDataHandler"
            android:taskAffinity="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WearActivity" />
        </activity>
        <activity
            android:name=".settings.ComplicationsTapActionActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".settings.SettingsActivity"
            android:theme="@style/Theme.GlucoDataHandler"
            android:taskAffinity="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.SettingsActivity" />
        </activity>
        <activity
            android:name=".settings.AlarmsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".WearActivity"
            android:theme="@style/Theme.GlucoDataHandler"
            android:taskAffinity="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WearActivity" />
        </activity>
        <activity
            android:name=".settings.AlarmAdvancedActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".settings.AlarmsActivity"
            android:theme="@style/Theme.GlucoDataHandler"
            android:taskAffinity="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.AlarmsActivity" />
        </activity>
        <activity
            android:name=".settings.AlarmTypeActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".settings.AlarmsActivity"
            android:theme="@style/Theme.GlucoDataHandler"
            android:taskAffinity="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.AlarmsActivity" />
        </activity>
        <activity
            android:name=".settings.VibrationPatternActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".settings.AlarmTypeActivity"
            android:theme="@style/Theme.GlucoDataHandler"
            android:taskAffinity="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settings.AlarmTypeActivity" />
        </activity>
        <receiver android:name=".common.receiver.GlucoseDataReceiver" android:enabled="true" android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="glucodata.Minute"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".common.receiver.XDripBroadcastReceiver" android:enabled="true" android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.eveningoutpost.dexdrip.BgEstimate"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".common.receiver.AAPSReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="info.nightscout.androidaps.status" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".common.receiver.DexcomBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.dexcom.cgm.EXTERNAL_BROADCAST" />
                <action android:name="com.dexcom.g7.EXTERNAL_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".common.receiver.NsEmulatorReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.eveningoutpost.dexdrip.NS_EMULATOR" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".common.receiver.DiaboxReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.outshineiot.diabox.BgEstimate" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".SnoozeAlarmReceiverWear"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name= "de.michelinside.glucodatahandler.SNOOZE" />
                <action android:name= "de.michelinside.glucodatahandler.STOP_NOTIFICATION" />
            </intent-filter>
        </receiver>
        <receiver android:name=".common.tasks.TimeAlarmReceiver" />
        <receiver android:name=".common.tasks.SourceAlarmReceiver" />
        <receiver android:name=".common.notification.AlarmIntentReceiver" />
        <receiver android:name=".common.receiver.InternalActionReceiver" />
        <receiver android:name=".common.notification.AlarmSnoozeEndReceiver" />
        <receiver android:name=".StartServiceReceiver" />
        <receiver
            android:name=".StartServiceAtBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.MY_PACKAGE_UNSUSPENDED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".common.tasks.AlarmPermissionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name= "android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED"  />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".common.utils.LocaleChangeNotifier"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name= "android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <service android:name=".GlucoDataServiceWear"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <action android:name="com.google.android.gms.wearable.CAPABILITY_CHANGED" />
                <data
                    android:host="*"
                    android:scheme="glucodata_intent_mobile" />
            </intent-filter>
        </service>

        <service android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />

        <!-- ****************************** Complications  ****************************** -->
        <!-- Create png icon: https://svgeditoronline.com/editor/ -->
        <!-- Size:      300x300 -->
        <!-- Text:      Oswald - 70 -->
        <!-- Image:     Open Sans - 100 -->
        <!-- Big Image: Open Sans - 150 -->
        <service
            android:name=".ShortClucoseComplication"
            android:exported="true"
            android:icon="@drawable/comp_short_value"
            android:label="@string/short_value"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="RANGED_VALUE,SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".SmallValueImageComplication"
            android:exported="true"
            android:icon="@drawable/comp_image_value"
            android:label="@string/image_value"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SMALL_IMAGE, LARGE_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".SmallValueSmallImageComplication"
            android:exported="true"
            android:icon="@drawable/comp_small_image_value"
            android:label="@string/small_image_value"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SMALL_IMAGE, LARGE_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".ValueIconComplication"
            android:exported="true"
            android:icon="@drawable/comp_icon_value"
            android:label="@string/icon_value"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="ICON, SMALL_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".ShortGlucoseWithIconComplication"
            android:exported="true"
            android:icon="@drawable/comp_short_value_icon"
            android:label="@string/short_value_icon"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,RANGED_VALUE,LONG_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".ShortGlucoseWithTrendComplication"
            android:exported="true"
            android:icon="@drawable/comp_short_value_arrow"
            android:label="@string/short_value_arrow"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,RANGED_VALUE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".SmallImageGlucoseWithTrendComplication"
            android:exported="true"
            android:icon="@drawable/comp_short_value_arrow_image"
            android:label="@string/short_value_arrow_image"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SMALL_IMAGE,LARGE_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".IconGlucoseWithTrendComplication"
            android:exported="true"
            android:icon="@drawable/comp_icon_value_arrow"
            android:label="@string/icon_value_arrow"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="ICON, SMALL_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".SmallImageGlucoseWithTrendSmallComplication"
            android:exported="true"
            android:icon="@drawable/comp_short_value_arrow_small_image"
            android:label="@string/short_value_arrow_small_image"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SMALL_IMAGE,LARGE_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".ShortGlucoseWithDeltaComplication"
            android:exported="true"
            android:icon="@drawable/comp_short_value_delta"
            android:label="@string/short_value_delta"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,RANGED_VALUE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".ShortGlucoseWithDeltaAndTrendComplication"
            android:exported="true"
            android:icon="@drawable/comp_long_value_arrow_delta"
            android:label="@string/long_value_arrow_delta"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LONG_TEXT,SHORT_TEXT,RANGED_VALUE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".LongGlucoseWithDeltaAndTrendAndTimeComplication"
            android:exported="true"
            android:icon="@drawable/comp_long_value_arrow_delta_time"
            android:label="@string/long_value_arrow_delta_time"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LONG_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".LongGlucoseWithDeltaAndTrendIconAndTimeComplication"
            android:exported="true"
            android:icon="@drawable/comp_long_value_trendicon_delta_time"
            android:label="@string/long_value_arrow_icon_delta_time"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="LONG_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".DeltaIconComplication"
            android:exported="true"
            android:icon="@drawable/comp_icon_delta"
            android:label="@string/icon_delta"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="ICON, SMALL_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".DeltaImageComplication"
            android:exported="true"
            android:icon="@drawable/comp_image_delta"
            android:label="@string/image_delta"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SMALL_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".ShortDeltaComplication"
            android:exported="true"
            android:icon="@drawable/comp_short_delta"
            android:label="@string/short_delta"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".ShortDeltaWithTrendComplication"
            android:exported="true"
            android:icon="@drawable/comp_short_delta_arrow"
            android:label="@string/short_delta_arrow"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".ShortDeltaWithIconComplication"
            android:exported="true"
            android:icon="@drawable/comp_short_delta_icon"
            android:label="@string/short_delta_icon"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".ShortDeltaWithTimeComplication"
            android:exported="true"
            android:icon="@drawable/comp_short_delta_time"
            android:label="@string/short_delta_time"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".SmallImageDeltaWithTimeComplication"
            android:exported="true"
            android:icon="@drawable/comp_image_delta_time"
            android:label="@string/image_delta_time"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SMALL_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".IconDeltaWithTimeComplication"
            android:exported="true"
            android:icon="@drawable/comp_icon_delta_time"
            android:label="@string/icon_delta_time"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="ICON, SMALL_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".SmallTrendImageComplication"
            android:exported="true"
            android:icon="@drawable/comp_image_arrow"
            android:label="@string/image_arrow"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SMALL_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".SmallTrendSmallImageComplication"
            android:exported="true"
            android:icon="@drawable/comp_small_image_arrow"
            android:label="@string/small_image_arrow"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SMALL_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".TrendIconComplication"
            android:exported="true"
            android:icon="@drawable/comp_icon_arrow"
            android:label="@string/icon_arrow"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="ICON" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".TimeStampComplication"
            android:exported="true"
            android:icon="@drawable/comp_timestamp"
            android:label="@string/short_timestamp"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,RANGED_VALUE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".TimeImageComplication"
            android:exported="true"
            android:icon="@drawable/comp_image_timestamp"
            android:label="@string/image_timestamp"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SMALL_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".TimeIconComplication"
            android:exported="true"
            android:icon="@drawable/comp_icon_timestamp"
            android:label="@string/icon_timestamp"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="ICON, SMALL_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".BatteryLevelComplication"
            android:exported="true"
            android:icon="@drawable/comp_battery_level"
            android:label="@string/battery_level"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".PhoneBatteryLevelComplication"
            android:exported="true"
            android:icon="@drawable/comp_phone_battery_level"
            android:label="@string/phone_battery_level"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="RANGED_VALUE,SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".WatchBatteryLevelComplication"
            android:exported="true"
            android:icon="@drawable/comp_watch_battery_level"
            android:label="@string/watch_battery_level"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="RANGED_VALUE,SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".complications.IobCobComplication"
            android:exported="true"
            android:icon="@drawable/burger_injection"
            android:label="@string/iob_cob"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".complications.CobComplication"
            android:exported="true"
            android:icon="@drawable/icon_burger"
            android:label="@string/info_label_cob"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".complications.IobComplication"
            android:exported="true"
            android:icon="@drawable/icon_injection"
            android:label="@string/info_label_iob"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".OtherUnitComplication"
            android:exported="true"
            android:icon="@drawable/comp_other_unit"
            android:label="@string/other_unit"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="300" />
        </service>
        <service
            android:name=".ChartComplication"
            android:exported="true"
            android:icon="@drawable/icon_rate"
            android:label="@string/graph"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SMALL_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>
    </application>
    <queries>
        <package android:name="tk.glucodata"/>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

</manifest>
