<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>


    <queries>
        <package android:name="tk.glucodata" />
    </queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GlucoDataHandler"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="de.michelinside.glucodataauto"
                android:value="" />
        </activity>
        <activity
            android:name=".preferences.SettingsActivity"
            android:label="@string/menu_settings"
            android:parentActivityName=".MainActivity"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <service android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />
        <service
            android:name=".GlucoDataServiceAuto"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync"/>

        <receiver
            android:name=".receiver.GlucoDataActionReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="de.michelinside.glucodatahandler.GLUCODATA" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.GlucoDataReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="glucodata.Minute" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.XDripReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.eveningoutpost.dexdrip.BgEstimate" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.AAPSReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="info.nightscout.androidaps.status" />
            </intent-filter>
        </receiver>
        <receiver android:name="de.michelinside.glucodatahandler.common.tasks.TimeAlarmReceiver" />
        <receiver android:name="de.michelinside.glucodatahandler.common.tasks.SourceAlarmReceiver" />
        <receiver android:name="de.michelinside.glucodatahandler.common.receiver.InternalActionReceiver" />

        <service
            android:name=".android_auto.CarMediaBrowserService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />
    </application>

</manifest>
