<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <!-- xDrip+ integration -->
    <uses-permission android:name="com.eveningoutpost.dexdrip.permissions.RECEIVE_BG_ESTIMATE" />
    <!-- BYODA integration -->
    <uses-permission android:name="com.dexcom.cgm.EXTERNAL_PERMISSION" />

    <queries>
        <package android:name="com.eveningoutpost.dexdrip" />
        <package android:name="info.nightscout.androidaps" />
        <package android:name="com.dexcom.g6.region1.mmol" />
        <package android:name="com.dexcom.g6.region2.mmol" />
        <package android:name="com.dexcom.g6.region3.mmol" />
        <package android:name="com.dexcom.g6.region4.mmol" />
        <package android:name="com.dexcom.g6.region5.mmol" />
        <package android:name="com.dexcom.g6.region6.mmol" />
        <package android:name="com.dexcom.g6.region7.mmol" />
        <package android:name="com.dexcom.g6.region1.mgdl" />
        <package android:name="com.dexcom.g6.region2.mgdl" />
        <package android:name="com.dexcom.g6.region3.mgdl" />
        <package android:name="com.dexcom.g6.region4.mgdl" />
        <package android:name="com.dexcom.g6.region5.mgdl" />
        <package android:name="com.dexcom.g6.region6.mgdl" />
        <package android:name="com.dexcom.g6.region7.mgdl" />
        <package android:name="com.dexcom.follow.region1.mmol" />
        <package android:name="com.dexcom.follow.region2.mmol" />
        <package android:name="com.dexcom.follow.region3.mmol" />
        <package android:name="com.dexcom.follow.region4.mmol" />
        <package android:name="com.dexcom.follow.region5.mmol" />
        <package android:name="com.dexcom.follow.region6.mmol" />
        <package android:name="com.dexcom.follow.region7.mmol" />
        <package android:name="com.dexcom.follow.region1.mgdl" />
        <package android:name="com.dexcom.follow.region2.mgdl" />
        <package android:name="com.dexcom.follow.region3.mgdl" />
        <package android:name="com.dexcom.follow.region4.mgdl" />
        <package android:name="com.dexcom.follow.region5.mgdl" />
        <package android:name="com.dexcom.follow.region6.mgdl" />
        <package android:name="com.dexcom.follow.region7.mgdl" />
        <package android:name="tk.glucodata" />
    </queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GlucoDataHandler"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="de.michelinside.glucodataauto"
                android:value="" />
        </activity>
        <activity
            android:name=".preferences.SettingsActivity"
            android:label="@string/menu_settings"
            android:parentActivityName=".MainActivity"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <service android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />
        <service
            android:name=".GlucoDataServiceAuto"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync"/>

        <receiver
            android:name=".receiver.GlucoDataActionReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="de.michelinside.glucodatahandler.GLUCODATA" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.GlucoDataReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="glucodata.Minute" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.XDripReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.eveningoutpost.dexdrip.BgEstimate" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.AAPSReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="info.nightscout.androidaps.status" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.DexcomBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.dexcom.cgm.EXTERNAL_BROADCAST" />
                <action android:name="com.dexcom.g7.EXTERNAL_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.NsEmulatorReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.eveningoutpost.dexdrip.NS_EMULATOR" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="de.michelinside.glucodatahandler.common.receiver.BroadcastServiceAPI"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.eveningoutpost.dexdrip.watch.wearintegration.BROADCAST_SERVICE_SENDER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.DiaboxReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.outshineiot.diabox.BgEstimate" />
            </intent-filter>
        </receiver>
        <receiver android:name="de.michelinside.glucodatahandler.common.tasks.TimeAlarmReceiver" />
        <receiver android:name="de.michelinside.glucodatahandler.common.tasks.SourceAlarmReceiver" />
        <receiver android:name="de.michelinside.glucodatahandler.common.receiver.InternalActionReceiver" />
        <receiver android:name="de.michelinside.glucodatahandler.common.notification.AlarmSnoozeEndReceiver" />
        <receiver
            android:name="de.michelinside.glucodatahandler.common.utils.LocaleChangeNotifier"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name= "android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".android_auto.CarMediaBrowserService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

    <service
        android:name="de.michelinside.glucodatahandler.common.receiver.NotificationReceiver"
        android:label="Notification Listener"
        android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        android:exported="true">
        <intent-filter>
            <action android:name="android.service.notification.NotificationListenerService" />
        </intent-filter>
        <meta-data
            android:name="android.service.notification.default_filter_types"
            android:value="alerting|ongoing|silent" />
    </service>
    </application>

</manifest>
